.addModal {
    z-index: 10000;
    background-color: rgba(255, 255, 255);
}

@media screen and (min-width: 768px) {
    .addModal {
        z-index: 10000;
        width: 50%;
        height : 80%;
        top : 50%;
        left : 50%;
        transform: translate(50%, 10%);
        padding-top: 4%;
    }
}

@media screen and (max-width: 767px) {
    .addModal {
        padding-top: 10%;
        padding-bottom: 10%;
        z-index: 10000;
        transform: translate(0%, 20%);
    }
}