.loutside {
    background:url('../../../public/assets/images/big/auth-bg.jpg') no-repeat center center;
}

.loutside .next{
    background-image: url('../../../public/assets/images/avion.jpg');
}

.hfail {
    font-size: 12px;
}