.contact {
    background-color: #28ae60;
    color: white;
}

.hoffer {
    height: 200px;
}

.hoffer .contact {
    margin-bottom: 0%;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 200px;
    cursor: pointer;
}

